  <h1 class="h5">
      <%= current_user.parent_name %>さんの成績
  </h1>
 
  <!-- ↓タブメニュー -->
    <%= render 'tabs' %>
  <!-- ↑タブメニュー -->

        <div id="japanese">
          <%= render 'tests/test_subject',tests: @tests, subject: 'japanese' %>
          <%= paginate @tests %>
        </div>
