    <div>
      <%= current_user.child_name %>さんの成績
    </div>
    
  <!-- ↓タブメニュー -->
    <%= render 'tabs' %>
  <!-- ↑タブメニュー -->

        <div id="math">
          <%= render 'tests/test_subject',tests: @tests, subject: 'math' %>
          <%= paginate @tests %>
        </div>
