    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">実施日</th>
          <th scope="col">テーマ</th>
          <th scope="col">点数</th>
          <th scope="col">メモ</th>
          <th scope="col">復習チェック</th>
        </tr>
      </thead>
      
      <% tests.each do |test| %>
      <tbody>
        <% if eval("test.#{subject}_score")  <= current_user.failing_score %>
            <tr class="table-danger">
          <% elsif eval("test." + subject + "_score") >= current_user.passing_score %>
            <tr class="table-success">
          <% else %>
            <tr>
        <% end %>
          <td><%= link_to "#{test.year_month.strftime("%y年%m月")}" + "#{test.week}週", test %></td>
          <td><%= eval("test.#{subject}_theme") %></td>
          <td><%= eval("test.#{subject}_score") %></td>
          <td><%= eval("test.#{subject}_memo") %></td>
          <td><% if eval("test.#{subject}_review") == true %>済 <% else %>未 <% end %></td>
        </tr>
      </tbody>
      <% end %>
      
    </table>